
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
    padding: 2rem 10rem;


}

.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 15px 15px 15px; */
    /* margin-top: 30px; */
    /* width: 1069.9px; */
    /* position: fixed;
    z-index: 100; */
    top: 0; 
    left: 0;
    width: 100%;
    /* padding: 2rem 10rem; */


}

#nav-item{
    display: flex;
    font: bold;
    font-family: 'DM Sans' sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 19.53px;
    text-align: left;
    gap: 3rem;
    cursor: pointer;


}

#Home {
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
    /* text-decoration: underline; */
    /* text-decoration-color: blue; */
    


}

#nav-button{
    background-color: #FF7143;
    color: white;
    font-weight: bold;
    width: 211px;
    height: 3rem;
    top: 30px;
    /* left: 1043px; */
   
    border: none;
    border-radius: 7px;
    cursor: pointer;


}

.maintext-onebox{
    /* background-color: red; */
    display: flex;
    /* gap: 2rem; */
    margin-top: 70px;
    justify-content: space-between;
    
    /* top: 190px; */
    /* left: 184px; */
    /* opacity: 0px; */
    /* height: 644px; */
    /* width: auto; */


}
   

#maintext-one{
    width: 50%;
    /* height: 461px; */
    /* margin: 40px 10px 5px 0px; */
    /* background-color: bisque; */
    
}

#maintext-one h1{
    font-family: 'Dm sans, Sans-serif';
    font-weight: 600;
    font-size: 60px;
    line-height: 77px;
}

#maintext-oneimg img{
    width: 100%;
    
}

#maintext-oneimg{
    /* background-color: beige; */
    width: 50%;
   
 
    /* width: 610px; */
    /* height: 444px; */
    /* margin: 40px 10px 5px 5px; */
}

.maintext-one-bu-img{
    display: flex;
    align-items: center;

    
    gap: 2rem;
}

#maintext-one-button{
    display: ;
    background-color: #5454D4;  
    color: white;
    width: 210px;
    height: 3rem;  
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#text1 {
    font-family: 'mulish';
    font-size: 20px;
}

.maintext-one-bu-img{
    pos
}


.maintext-one-bu-img img{
    /* align-content: baseline; */
}

.group-div{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 50px;
}

.maintext-twobox{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

#maintext-two{
    width: 50%;
    margin-top: 4.5rem ;
    /* width: 556px;
    height: 229px;
    margin: 70px; */

}

#maintext-two h2 {
    font-weight: 500px;
    font-size: 50px;
    font-family: 'Dm sans, Sans-serif';
    

}

#mt-tlink{
    text-decoration: none;

}

#text2 {
    font-family: 'mulish';
    font-size: 20px;
}

.maintext-threebox{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    gap: 2rem;
}

#maintext-three {
    margin-top: 80px;
    width: 40%;
}

#text3{
    font-family: 'mulish';
    width: 459px;
    font-size: 20px;
    
}

#mt-t3link{
    text-decoration: none;
}

#maintext-three h2{
    font-weight: 500px;
    font-size: 50px; 
    font-family: 'Dm sans, Sans-serif';

}

/* .mtfdv-ImgDiv{
    display: flex;
    justify-content: space-between;
} */

.maintext-fourdiv{
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0 0;
    
}

.maintext-fourdiv p {
    font-family: 'mulish';
    font-size: 16px;
}

#mt-4-one{
    /* background-color: burlywood; */
    display: block;
    align-items: center;

}

#mt-4-oneh4{
    /* background-color: #FF7143; */
    text-align: center;
    font-family: 'Dm sans, Sans-serif';
    

}

    

#mt-4-two{
    /* background-color: violet; */
}

#mt-4-three{
    /* background-color: tomato; */
}


#clDiv-one{
    display: flex;
    justify-content: space-between;
    /* background-color: gold; */
    margin: 70px 0 0 0;


}

#clDiv-oneh1{
    font-weight: 600px;
    font-size: 40px;

}

#clDiv-onebtn{
    margin: 60px 0 50px 0;
    display: flex;
    /* float: right; */
    
    /* padding-right: 0px; */
}

#clDiv-onebtn1{
    background-color: #5454D4;
    color: white;
    /* padding: 10px 15px 10px 15px; */
    border-radius: 7px 0 0 7px;
    width: 110px;
    height: 40px;  
    border: none;
    cursor: pointer;

}

#clDiv-onebtn2{
    /* padding: 10px 15px 10px 15px; */
    border-radius: 0 7px 7px 0;
    width: 110px;
    height: 40px;  
    border: none;
    cursor: pointer;
}

.clDiv-box1{
    display: flex;
    justify-content: space-between;
    
    /* background-color: goldenrod; */

}

#clDiv-box1-a{
    background: #F8F8F8;
    width: 32%;
    border: none;
    text-align: center;
    padding: 30px 0 0 0;
    border-radius: 7px;


}

#clDiv-box1-b{
   background-color: #FF7143;
   width: 34%;
   border: none;
   text-align: center;
   color: white;
   padding: 30px 0 0 0;
   border-radius: 7px;

}

#clDiv-box1-c{
    background: #F8F8F8;
    width: 32%;
    border: none;
    text-align: center;
    padding: 30px 0 0 0;
    border-radius: 7px;

}

#clbtn-1{
    width: 210px;
    height: 40px;  
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: blue;
    margin: 30px 0 30px 0;

    
}

#clbtn-2{
    width: 210px;
    height: 40px;  
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background: #9F3919;
    color: #F8F8F8;
    /* padding: ; */
    margin: 30px 0 30px 0;



}

#clbtn-3{
    width: 210px;
    height: 40px;  
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: blue;
    margin: 30px 0 30px 0;
    


}


#clDiv-h2{
    font-size: xx-large;
}   

span{
    font-weight: 700px;
    font-size: 50px;


}

@media screen (max-width:0 480px) {
    
    body{
        padding: 1rem;
    }
    .nav-box{
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    
    #nav-item{
        display: flex;
        font: bold;
        font-family: 'DM Sans' sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 19.53px;
        text-align: left;
        gap: 3rem;
        cursor: pointer;
    
}
    
@media screen (min-width:481 768) {
    
}
    
}

/* the responsiveness start here */

